*{
    margin: 0px;
}

body{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}
article{
    width: 80%;
    background-color: bisque;
    display: block;
    margin: 10px auto;
}
h1{
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1em;
    
}
button{
    font: inherit;
    margin: 33px;
    float: right;
}
.prueba{
    background-color: black;
    color: white;
    height: 20px;
    display: block;
    width: 40%;
    margin: 30px 15px;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5em;
    float: left;

}
