*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 20px;
}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    /* gap: 1rem; */
}

.box{
    min-width: 100px;
    height: 100px;
    background-color: #000;
    color: aliceblue;
}


